spring:
  jpa:
    database: POSTGRESQL
    hibernate:
      ddl-auto: update
    properties.hibernate.temp.use_jdbc_metadata_defaults: false
  datasource:
    url: jdbc:postgresql://{{% DB_ENDPOINT %}}:{{% DB_PORT %}}/ecs_spring_boot
    username: {{% DB_MASTER_NAME %}}
    password: {{% DB_MASTER_PSWD %}}
server:
  servlet:
    contextPath: {{% CONTEXT_PATH %}}
logging:
  level:
    ROOT: DEBUG